html {
	color: #828282;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background:linear-gradient(to bottom left, #ff6f16, #ff0bcf);
}

a {
	color: #1656D4;
}

a:visited {
	color: #1656D4;
}

nav {
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.5em;
	font-size: 0.9rem;
	text-align: center;
}

nav a {
	color: #1656D4;
}

nav a:visited {
	color: #1656D4;
}

nav a:visited :hover {
	color: #ff00e3;
}

.menu {
	color: #1656D4;
}

.menu a{
	text-decoration: none;
	display: inline-block;
	margin: 0 1.5rem;
}

.impressum {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

.impressum a{
	text-decoration: none;
	display: block;
	float: right;
	font-size: 0.75em;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.logo img{
	max-width: 320px;
	width: 90%;
	margin: 0.6rem auto;

}

.episode {
	margin-top: 3.5rem;
	background-color: #f7f7f7;
	padding: 1.25rem;
	border-radius: 5px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

.episode p {
	margin-top: 2em;
}

h1 {
	font-weight: 200;
	font-size: 1.5rem;
	color: #1656D4;
	margin: 1rem 0 1.5rem 0;
}

ul {
	font-size: 0.85rem;
	margin-left: 0.2rem;
	padding-left: 1.4rem;
}

li {
	margin-bottom: 0.4rem;
}

.beschreibung {
	margin-left: auto;
	margin-right: auto;
}

.beschreibung p {
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	max-width: 720px;
	margin-bottom: 2rem;
}

.beschreibung a {
	text-decoration: none;
}

audio {
	width: 100%;
}

@media (min-width: 900px) {
	.menu {
		margin: 0.5rem auto;
		font-size: 1rem;
	}
}

@media (max-width: 446px) {
	.menu a {
		margin: 0;
	}
}
