html {
    color: #333;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

nav {
	font-size: 0.75rem;
	color: #1656D4;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.menu a{
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	margin: 0 5;
}

.logo img{
	max-width: 320px;
	width: 90%;
	margin: 10px auto;

}

.episode {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
}

h1 {
	font-size: 1.5rem;
	color: #333;
}
ul {
	font-size: 0.85rem;

}
audio {
	width: 100%;
}